#trends-display-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#topic-list {
  grid-column: 1 / 1;
}

#topic-info-display {
  grid-column: 2 / 2;
}
