@import url("https://fonts.googleapis.com/css?family=Raleway:700,900");

body {
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}

li {
  color: #e1e8ed;
  cursor: pointer;
}

#full-wrapper {
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sub-wrapper {
  width: 80vw;
  height: 90vh;
}

#main-title {
  text-align: center;
  font-weight: 900;
  color: #14171a;
  font-size: 3em;
  margin: 0.1em;
}

#main-description {
  background: white;
  text-align: center;
  color: #14171a;
  margin: 1eem;
  font-weight: 700;
}

#topics-display-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #1da1f2;
  box-shadow: 0em 1em 2em -1em rgba(0, 0, 0, 0.75);
  padding: 1em;
}

#topic-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#topic-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.individual-topic {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  background: #e1e8ed;
  color: #14171a;
  border-style: solid;
  border-width: 0.1em 0.2em 0.1em 0.2em;
  border-color: #aab8c2;
  margin-left: 0.5em;
}

#topic-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background: #f5f8fa;
  margin: 1em;
}

#highlighted-tweet-container {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#highlighted-tweet-description {
  text-align: center;
  color: #14171a;
  margin-bottom: 0px;
  font-weight: 700;
}

#highlighted-tweet {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlighted {
  background: #f5f8fa;
  border-width: thick;
  border-color: #1da1f2;
  padding-right: 0px;
  font-weight: 900;
}

.sentiment {
  float: right;
  margin-right: 1em;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

#graph-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding-left: 2.5em;
  padding-bottom: 2.5em;
}

#misc-info {
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  color: #14171a;
  padding-bottom: 2em;
}

#misc-info > h3 {
  font-weight: 700;
}
